header{
    background: linear-gradient(60deg, #0367a6, #02789f 50%, #008997);
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
}
#center{
    z-index: 1;
}
h1{
    font-size: 3.5rem;
    color:whitesmoke;
}
h5{
    color:whitesmoke
}
a:link, a:visited, a:hover, a:active{
    color: whitesmoke;
    text-decoration: none;
}
ul{
    margin-top: 20px;
}
.btn {
    padding: 20px;
    font-size: 18px;
    border: solid whitesmoke 1px;
    border-radius: 300px;
    display: inline-block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    transition: 0.8s;
    background-color: rgba(33, 37, 41, 0.1);
}
.btn:hover {
    background-color: whitesmoke;
    text-decoration: none;
    transform: scale(1.1);
}
.btn:hover a {
    color: #212529;
    transition: 0.8s;
}